<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Modern Business - Start Bootstrap Template</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/css/jquery.fullPage.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</head>

<body>
  <div class="container" id="navbar">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Smart Fridge</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <p class="special">
            <%= Object.keys(data)[1] %>
          </p>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"></h2>
            <ul>
              <% for(var i=0; i<data["Meat"].length; i++) {%>
                <li>
                  <%= data["Meat"][i].name %>
                </li>
                <% } %>
            </ul>
          </div>

          <div class="mdl-card__actions mdl-card--border">
            <a href="/moreinfo/<%= Object.keys(data)[1] %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        More info
      </a>
          </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">share</i>
            </button>
          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <p class="special">
            <%= Object.keys(data)[0] %>
          </p>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Stuff</h2>
            <ul>
              <% for(var i=0; i<data["Fruits"].length; i++) {%>
                <li>
                  <%= data["Fruits"][i].name %>
                </li>
                <% } %>
            </ul>
          </div>

          <div class="mdl-card__actions mdl-card--border">
            <a href="/moreinfo/<%= Object.keys(data)[0] %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        More info
      </a>
          </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">share</i>
            </button>
          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <p class="special">
            <%= Object.keys(data)[2] %>
          </p>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"></h2>
            <ul id="#please">
              <% for(var i=0; i<data["Vegetable"].length; i++) {%>
                <li>
                  <%= data["Vegetable"][i].name %>
                </li>
                <% } %>
            </ul>
          </div>

          <div class="mdl-card__actions mdl-card--border">
            <a href="/moreinfo/<%= Object.keys(data)[1] %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        More info
      </a>
          </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">share</i>
            </button>
          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <p class="special">
            <%= Object.keys(data)[3] %>
          </p>
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"></h2>
            <ul>
              <% for(var i=0; i<data["Spice"].length; i++) {%>
                <li>
                  <%= data["Spice"][i].name %>
                </li>
                <% } %>
            </ul>
          </div>

          <div class="mdl-card__actions mdl-card--border">
            <a href="/moreinfo/<%= Object.keys(data)[1] %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        More info
      </a>
          </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">share</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
  <div class="container" id="recommend">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col" style="text-align:center;padding-top:20px">Recommendation</h4>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--primary">
          </div>
        </div>

        <div id="tabs">
          <ul>
            <li><a href="#tabs-1">Food 1</a></li>
            <li><a href="#tabs-2">Food 2</a></li>
            <li><a href="#tabs-3">Food 3</a></li>
          </ul>
          <div id="tabs-1">
            <h3 id="dynamic1" style="color:blue">

              </h3>
            <h5 style="color:blue">
                sentiment: <%= recommend.sentiment %>
                score: <%= recommend.score %>
              </h5>
            <span class="stars"><%= recommend.score*5 %></span>
            <br>
            <img alt="" id="my_image1" style="width:200;height:200" />
            <br>
            <br> Ingredient:
            <p id="ingredient1">

            </p>
            Description:
            <p id="description1">

            </p>
            Cook time:
            <p id="cooktime1">

            </p>
          </div>
          <div id="tabs-2">
            <h3 id="dynamic2" style="color:blue">

              </h3>
            <h5 style="color:blue">
                sentiment: <%= recommend.sentiment %>
                score: <%= recommend.score %>
              </h5>
            <span class="stars"><%= recommend.score*5 %></span>
            <br>
            <img alt="" id="my_image2" style="width:200;height:200" />
            <br>
            <br> Ingredient:
            <p id="ingredient2">

            </p>
            Description:
            <p id="description2">

            </p>
            Cook time:
            <p id="cooktime2">

            </p>
          </div>
          <div id="tabs-3">
            <h3 id="dynamic3" style="color:blue">

              </h3>
            <h5 style="color:blue">
                sentiment: <%= recommend.sentiment %>
                score: <%= recommend.score %>
              </h5>
            <span class="stars"><%= recommend.score*5 %></span>
            <br>
            <img alt="" id="my_image3" style="width:200;height:200" />
            <br>
            <br> Ingredient:
            <p id="ingredient3">

            </p>
            Description:
            <p id="description3">

            </p>
            Cook time:
            <p id="cooktime3">

            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- jQuery -->
  <script src="/bootstrap/js/jquery.js "></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/bootstrap/js/bootstrap.min.js "></script>
  <script src="/javascripts/main.js "></script>
</body>

</html>
